body {
    background-color: rgb(238, 186, 144);
}

#form-login{
    color: rgb(8, 4, 0);
}

#form-login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #entrar{
    position: absolute;
    top: 64%;
    left: 51%;
    transform: translate(-50%, -50%);
  }

  #form-login{
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid black ;
    border-radius: 1em;
  }